@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
   margin: 0;
   padding: 0;
   font-family: "Montserrat", sans-serif;
   box-sizing: border-box;
}

a{
   all: unset;
   cursor: pointer;
}

header{
   display: flex;
   justify-content: space-between;
   padding: 2rem 5rem;
   align-items: center;
   position: fixed;
   width: 100vw;
   background: white;
   border-bottom: solid 1px  #ddd;
}

.spark{
   font-size: 2rem;
   font-weight: bold;
}
a.navLink{
   padding: 1rem;
}


section#home{
   background: linear-gradient(#ddd , #eee );
   height: 100vh;
   display: flex;
   padding: 5rem;
   justify-content: space-between;
   align-items: center;
}

.left h1{
   font-size: 4rem;
   margin-bottom: 2rem;
}

.left h1 span{
   color: orange;
}

.left p{
   font-size: 2rem;
   margin-bottom: 1rem;
   
}
.left p span{
   color: crimson;
}


.left a.abtBtn{
   color: white;
   background: orange;
   padding: 1rem 2rem;
   display: inline-block;
   border-radius: 100vmax;
   box-shadow: rgba(255, 166, 0, 0.327) 0px 10px 15px ;
   border: 3px solid orange;
   font-size: 1.3rem;
   transition: 0.3s;
   margin-bottom: 3rem;
   
}

.left a.abtBtn:hover{
   background: none;
   color: orange;
}

.socialLinks{
   font-size: 2rem;
}
.socialLink{
   background: #181818;
   padding: 0.8rem 1.1rem;
   color: white;
   border-radius: 100%;
   transition: 0.3s;
   
}
.socialLink:hover{
   color: #72a4cb;
}
.right img{
   border-radius: 100vmax;
}